.cols.center-stack.pull-left
  %h2="Plants for every season"
  
  %ul.curated-list
    = render :partial => 'seasons/season_plant_list'
    
.cols.right-sidebar.pull-right
  =render :partial => 'home/right_sidebar'