.cols.center-stack.pull-left
  %h2="Seasonal varieties"
  - if !@season.nil?
    =@season.name.titleize
  - else
    .text-muted
      This season type was not found

.cols.right-sidebar.pull-right
  =render :partial => 'home/right_sidebar'
