.cols.center-stack.pull-left
  %h2="Plant library"
  - if !@plant_type.nil?
    =@plant_type.name.titleize
  - else
    .text-muted
      This plant type type was not found

.cols.right-sidebar.pull-right
  =render :partial => 'home/right_sidebar'
