/*
$dark_green: #3c6243
$medium_green: #159243
$light_green: #92d29e
*/

html,
body {
	height:100%;
	font-size:105%;
	color:#585f65;
}

ul,
ul li {
	list-style:none outside none;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration:none;
	color:#497daa;
}
a:visited {
	color:#b59497;
}
a:hover {
	color:#37424c;
}
a:active,
a.active {
	color:#000000;
}

#wrap {
	height:auto;
	position:relative;
	padding:0 0 90px;
	margin:0 auto -90px;
	min-height:100%;
}

#wrap .container,
.container {
	width:1140px;
	padding:0;
	margin:0 auto;
}

#wrap > .container {
	height:100%;
}

/*------- HEADER ------------*/

header.page-header,
.page-header {
	border-bottom:none;
	position:relative;
	padding:0;
	margin:0 auto;
}

.header-decoration {
	position:absolute;
	top:50px;
	left:0;
	height:30px;
	width:100%;
	background: transparent url('../assets/green-tile.gif') left 0 repeat;
	z-index:1;
	text-indent:-999em;
}

#logo {
	background: transparent url('../assets/logo.png') left center no-repeat;
	float:left;
	position:relative;
	height:80px;
	padding:12px 0 0 115px;
	font:bold 25px/32px sans-serif;
	z-index:2;
}

#logo a {
	display:block;
	text-decoration:none;
	color:#3c6243;
}

#logo:hover {
	cursor:pointer;
}


/* --------- HEADER NAV -----------*/

.nav,
.nav li {
	list-style:none outside none;
}

.nav.main-nav {
	position:relative;
	top:50px;
	overflow:visible;
	z-index:3;
}

.nav.main-nav li {
	float:left;
	padding:0;
	margin:0;
}

.nav.main-nav li a {
	display:block;
	padding:3px 20px;
	text-align:center;
	font:normal 22px/24px "Tahoma", "Helvetica", sans-serif;
	text-shadow:0 1px 0 #3c6243;
	color:#e8f2f1;
}

.nav.main-nav li a:hover {
	background:#92d29e;
	color:#3c6243;
	text-shadow:0 1px 0 #f2f4f3;
}

/* nested list dependencies */
li ul {
  display:none;
}

ul li ul {
	background:#159243;
	box-shadow:0 1px 2px #a7abab;
	border-radius:0 0 8px 8px;
  margin:0;
  padding:0;
  position:absolute;
  top:30px;
  left:0;
	z-index:15;
}

ul li:hover > ul {
  display:block;
}

ul ul li {
  float:none;
}

ul.nav.main-nav ul li a {
	display:block;
	font-size:18px;
	text-align:left;
	line-height:32px;
	padding-left:44px;
}

ul ul li a.last {
	border-radius:0 0 8px 8px;
}

ul.nav.main-nav ul li a:hover {
	text-shadow:none;
}

ul ul li ul {
  top:-12px;
  left:15px;
}

/* --------- COLUMNS ----------*/
.cols.left-sidebar {
	width:200px;
	padding:50px 20px 30px;
	height:100%;
	background:#f0f5f1;
}

.cols.center-stack {
	width:560px;
	padding:0;
	margin:15px 30px 30px;
}

.cols.right-sidebar {
	width:240px;
	padding:20px;
}

.cols.center-double {
	width:850px;
	padding:0;
	margin:15px 20px 30px 30px;
}

/* --------- LEFT NAV COLUMN ----------*/
.nav-subhead {
	background:#c5cdc6;
	border:1px solid #c5cdc6;
	border-bottom:0;
	text-align:center;
	margin-bottom:1px;
}

.nav-subhead span {
	color:#585f65;
	line-height:38px;
}

.nav-blind {
	background:#e3e8e3;
	border:1px solid #d3d8d4;
	padding:20px 5px 5px;
	margin-bottom:35px;
}

.nav-blind ul.section-nav {
	position:relative;
	padding-left:0;
} 

.nav-blind ul.section-nav li {
	line-height:32px;
}	

.nav-blind ul li a {
	display:block;
	line-height:32px;
	font-size:17px;
	border-bottom:1px solid #e3e8e3;
}

.nav-blind ul li a:hover {
	background:#d3d8d4;
	border-color:#f4faf9;
}

.divider {
	height:2px;
	line-hieght:1px;
	font-size:1px;
	width:85%;
	margin:30px auto;
	text-indent:-999em;
	border-top:1px solid #dde2de;
	border-bottom:1px solid #fbfcfb;
}

.sidebar-nav {
	padding-left:5px;
}

.sidebar-nav li {
	line-height:1.65em;
}

.sidebar-nav li a {
	color:#848f86;
	font-size:14.5px;
}

.sidebar-nav li a:hover {
	color:#202421;
}

/*---------- CENTER STACK -----------*/
ul.curated-list li {
	float:none;
	margin:5px auto;
	border-bottom:1px solid #ededee;
	padding:5px auto 10px;
	font-size:16px;
	line-height:22px;
}

ul.curated-list li > a {
	float:left;
	border:5px solid #e8f3f2;
	border-radius:4px;
	margin:10px auto;
}

ul.curated-list li > p {
	padding-left:150px;
	margin:5px auto 20px;
}


















/* --------- FOOTER -----------*/
#footer {
	position:relative;
	z-index:2;
	min-height:90px;
	background:#58675a;
	border-top:2px solid #159243;
	text-align:center;
	font:normal 12px/19px sans-serif;
	color:#f0f5f1;
}

#footer .cols {
	width:32%;
	margin:0 auto;
	text-align:center;
}

#footer a:link {
	color:#f0f5f1;
}

#footer a:hover {
	text-decoration:underline;
	color:#ffffff;
}

#footer .cols > .inner-wrapper {
	padding:20px;
}
