.cols.center-stack.pull-left
  %h2="Fertilizers"
  - if @fertilizer.nil?
    .text-muted
      That fertilizer type was not found
  - else
    %h3
      =@fertilizer.name.titleize
    
    .label="Description"
    .text.blocks.clearfix
      %br
      =@fertilizer.description * 3

.cols.right-sidebar.pull-right
  =render :partial => 'home/right_sidebar'
