.cols.pull-left
  .inner-wrapper
    %ul
      %li
        =link_to 'something', '#'
      %li
        =link_to 'something', '#'
      %li
        =link_to 'something', '#'
    

.cols.pull-left
  .inner-wrapper
    %ul
      %li
        =link_to 'something', '#'
      %li
        =link_to 'something', '#'
        
    %p.text-muted.credit="here's the really long &copy; copyright line to show that I own the content"

.cols.pull-right
  .inner-wrapper
    %ul
      %li
        =link_to 'something', '#'
      %li
        =link_to 'something', '#'
      %li
        =link_to 'something', '#'
  
