%ul.sidebar-nav
  %li
    =link_to('Drought tolerant', '#')
  %li
    =link_to('Sun lovers', '#')
  %li
    =link_to('Water lovers', '#')
  %li
    =link_to('No greenthumb?', '#')
  %li
    =link_to('These need extra tlc', '#')
  %li
    =link_to('For the pro', '#')
  %li
    =link_to('Soil types', '#')
  %li
    =link_to('Fertilizer info', '#')
