%ul.sidebar-nav
  %li
    =link_to('Drought tolerant', plants_drought_tolerant_path)
  %li
    =link_to('Sun lovers', plants_sun_lovers_path)
  %li
    =link_to('Water lovers', plants_water_lovers_path)
  %li
    =link_to('No greenthumb?', plants_easy_to_care_for_path)
  %li
    =link_to('These need extra tlc', plants_semi_easy_to_care_for_path)
  %li
    =link_to('For the pro', plants_difficult_to_care_for_path)
  %li
    =link_to('Soil types', soils_path)
  %li
    =link_to('Fertilizer info', fertilizers_path)
