.cols.center-stack.pull-left
  %h2="New ideas for your lawn and garden"
  
  %ul.curated-list
    -@curated_plants.each do |plant|
      %li.clearfix
        - if Gallery.find_by_plant_id(plant) != nil
          - thumbnail = Gallery.find_by_plant_id(plant).image1
        - else
          - thumbnail = 'placeholder-120x120.jpg'

        =link_to(image_tag("plants/#{thumbnail}", :size => "120x120", :class=> "curated_thumbs"), plant_path(plant))
        %p
          =link_to(plant.name.titleize, plant_path(plant), :class=>'h4')
          %br
          =plant.description * 2
  
.cols.right-sidebar.pull-right
  right sidebar