/*
$dark_green: #3c6243
$medium_green: #159243
$light_green: #92d29e
*/
html,body {
	height:100%;
}

#wrap {
	height:auto;
	padding:0 0 90px;
	margin:0 auto -90px;
	min-height:100%;
}

#wrap .container,
.container {
	width:1140px;
	padding:0;
	margin:0 auto;
}

#logo {
	background: transparent url('../assets/logo.png') left center no-repeat;
	width:250px;
	height:80px;
}


/* --------- FOOTER -----------*/
#footer {
	height:90px;
	background:#58675a;
}