!!! html
%html
  %head
    %meta{ :name => "Charset", :content => "UTF-8" }
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=2.0; user-scalable=1;" }
    - if @pagedescription
      %meta{ :name => "Description", :content => "#{@pagedescription}" }
    %title="YardBeautiful"
    =stylesheet_link_tag "bootstrap.min", "application"
    =javascript_include_tag "application"
    =csrf_meta_tags
    %noscript="You must enable JavaScript to view this website"
    
  %body
    #wrap
      .header-decoration="&nbsp;"
      .container.clearfix
      
        //header section
        %header.page-header.clearfix
          #logo
            =link_to "My Garden Site", root_path
          =render :partial => 'home/main_nav'
        
        //left column stays fixed throughout app for now
        .cols.left-sidebar.pull-left
          = render :partial => 'home/left_sidebar'
          .divider="\&nbsp;"
          
          =render :partial => 'home/left_sidebar_secondary_nav'
          .divider="\&nbsp;"
        
        //center-stack or main column and right columns 
        =yield
    
    //footer we bring outside the wrapper
    %footer#footer.clearfix
      =render :partial => 'home/footer'
      