!!! html
%html
  %head
    %meta{ :name => "Charset", :content => "UTF-8" }
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=2.0; user-scalable=1;" }
    - if @pagedescription
      %meta{ :name => "Description", :content => "#{@pagedescription}" }
    %title="YardBeautiful"
    =stylesheet_link_tag "bootstrap.min", "application"
    =javascript_include_tag "application"
    =csrf_meta_tags
    %noscript="You must enable JavaScript to view this website"
    
  %body
    #wrap
      .header-decoration="&nbsp;"
      .container.clearfix
        %header.page-header.clearfix
          #logo
            =link_to "My Garden Site", root_path
          =render :partial => 'home/main_nav'
        .cols.left-sidebar.pull-left
          .nav-subhead
            %span="Seasonal favorites"
          .nav-blind
            %ul.section-nav
              -@season_nav_items.each do |s|
                %li
                  =link_to s.name.titleize, season_path(s)
    
          .nav-subhead
            %span="Plants by type"
          .nav-blind
            %ul.section-nav
              -@plant_types.each do |p|
                %li
                  =link_to p.name.titleize, plant_type_path(p)
          
          .divider="\&nbsp;"
          
          =render :partial => 'home/left-sidebar-secondary-nav'
          .divider="\&nbsp;"

        =yield

    %footer#footer.clearfix
      =render :partial => 'home/footer'